//colors variables
$pages-bg-color: linear-gradient(
  to right top,
  rgba(186, 209, 241, 0.8),
  rgba(187, 205, 238, 0.8),
  rgba(189, 201, 235, 0.8),
  rgba(190, 196, 231, 0.8),
  rgba(192, 192, 227, 0.8)
);

// linear-gradient(
//   to right top,
//   #bad1f1,
//   #bbcdee,
//   #bdc9eb,
//   #bec4e7,
//   #c0c0e3
// );
$emphasized-text-color: #183795;
$main-text-color: #000;
$hover-bg-color: #fde2fe;
$dark-blue: #1f4782;
$dark-gray: #303335;
$golden: #ab834c;
$golden-tainoi: #e9be71;
$gray: #818c96;
$white: #fff;

//fonts
$general-font: "Roboto", "sans-serif";
$logo-font-family: "Courier New", Courier, monospace;
$headrs-font-family: monospace, "Roboto Mono", sans-serif;
$header-one-font-family: "Shrikhand", serif;
$paragraphs-font-family: "Rubik", sans-serif;
