@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Monsieur+La+Doulaise&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Questrial&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Love+Light&family=Mea+Culpa&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: linear-gradient(to right top, rgba(186, 209, 241, 0.8), rgba(187, 205, 238, 0.8), rgba(189, 201, 235, 0.8), rgba(190, 196, 231, 0.8), rgba(192, 192, 227, 0.8));
}

.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 900;
}

.navigation {
  background-color: #435684;
  padding: 5px 0;
}

.navbar .navbar-brand {
  font-size: 30px;
  color: #ffffff;
  cursor: default;
  opacity: 0;
  letter-spacing: 1px;
  animation: slideRight 1s ease forwards;
}

.navbar .nav-link {
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 22px;
  transition: 0.3s;
  background-image: linear-gradient(to right, #8dd1ff, #def2ff 52%, rgba(255, 255, 255, 0.9) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:before {
  content: "";
  background: #bdc6de;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover::before {
  width: 100%;
}

#brandName {
  cursor: pointer;
}

.navbar a:hover,
.navbar a.active {
  color: #183795;
  background-position: 0;
}

.navbar-toggler {
  background-color: #d2d8f2;
  outline: none !important;
}

.navbar-toggler-icon {
  background-image: none !important;
  background-color: var(--bs-gray-800);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #435684;
  padding: 10px 0;
  text-align: start;
}

.footer__name {
  display: flex;
  justify-content: start;
  font-size: 26px;
  color: #ffffff;
  letter-spacing: 1px;
}

.footer__social {
  display: flex;
  justify-content: end;
}

.footer__social-link {
  margin: 0 10px;
  color: #ced4e4;
  font-size: 20px;
  text-decoration: none;
}

.social-name {
  font-size: 17px;
  color: #ffffff;
}

.footer__social-link:hover .icon,
.footer__social-link:hover .social-name {
  color: #c1d1ff;
  transition: background-size 0.8s ease-in-out;
}

@media screen and (max-width: 768px) {
  .footer__social {
    margin-top: -12%;
  }
  .footer__social-link {
    margin: 3%;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  zoom: 95%;
}

.Yearly-timeline {
  font-family: "Poppins", sans-serif;
}

.Yearly-timeline:after {
  content: "";
  display: block;
  clear: both;
}

.Yearly-timeline .timeline {
  width: calc(50% + 17px);
  padding: 0 30px 30px 0;
  float: left;
  position: relative;
}

.Yearly-timeline .timeline:before,
.Yearly-timeline .timeline:after {
  content: "";
  height: 60px;
  width: 2px;
  border-left: 2px solid #6a92af;
  transform: rotate(-45deg);
  position: absolute;
  right: 30px;
  bottom: 0;
}

.Yearly-timeline .timeline:after {
  background-color: #fff;
  height: 20px;
  width: 20px;
  border: 6px solid #6a92af;
  border-radius: 50%;
  right: 0;
}

.Yearly-timeline .timeline-content {
  color: #555;
  background: #6a92af;
  text-align: center;
  min-height: 170px;
  padding: 30px 35px 35px;
  border-radius: 15px 15px 0 15px;
  display: block;
  position: relative;
  z-index: 1;
}

.Yearly-timeline .timeline-content:before {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 17px;
  right: 17px;
  top: 17px;
  bottom: 17px;
  z-index: -1;
}

.Yearly-timeline .timeline-content:hover {
  text-decoration: none;
}

.Yearly-timeline .timeline-icon {
  color: #777;
  font-size: 35px;
}

.Yearly-timeline .title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 8px;
  text-shadow: 4px 2px 3px rgba(255, 255, 255, 0.2);
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Yearly-timeline .description {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin: 0;
}

.Yearly-timeline .timeline:nth-child(even) {
  padding: 0 0 30px 30px;
  float: right;
}

.Yearly-timeline .timeline:nth-child(even):before {
  transform: rotate(45deg);
  right: auto;
  left: 30px;
}

.Yearly-timeline .timeline:nth-child(even):after {
  right: auto;
  left: 0;
}

.Yearly-timeline .timeline:nth-child(even) .timeline-content {
  border-radius: 15px 15px 15px 0;
}

.Yearly-timeline .timeline:nth-child(4n+2):before,
.Yearly-timeline .timeline:nth-child(4n+2):after {
  border-color: #bf97bc;
}

.Yearly-timeline .timeline:nth-child(4n+2) .timeline-content {
  background: #bf97bc;
}

.Yearly-timeline .timeline:nth-child(4n+3):before,
.Yearly-timeline .timeline:nth-child(4n+3):after {
  border-color: #8689ab;
}

.Yearly-timeline .timeline:nth-child(4n+3) .timeline-content {
  background: #8689ab;
}

.Yearly-timeline .timeline:nth-child(4n+4):before,
.Yearly-timeline .timeline:nth-child(4n+4):after {
  border-color: #8bb5b9;
}

.Yearly-timeline .timeline:nth-child(4n+4) .timeline-content {
  background: #8bb5b9;
}

@media screen and (max-width: 767px) {
  .Yearly-timeline .timeline {
    width: 100%;
    padding: 30px 0 0 30px;
    margin: 0 0 20px;
  }
  .Yearly-timeline .timeline:before,
  .Yearly-timeline .timeline:nth-child(even):before {
    transform: rotate(-45deg);
    bottom: auto;
    top: 0;
    right: auto;
    left: 30px;
  }
  .Yearly-timeline .timeline:after,
  .Yearly-timeline .timeline:nth-child(even):after {
    bottom: auto;
    top: 0;
    right: auto;
    left: 0;
  }
  .Yearly-timeline .timeline-content,
  .Yearly-timeline .timeline:nth-child(even) .timeline-content {
    border-radius: 0 15px 15px 15px;
  }
}
.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(38, 40, 48, 0.84);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: #adb9e1;
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #9da9e3;
  border-left: 2px solid #9da9e3;
  border-right: 2px solid #9da9e3;
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: #6375a6;
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=certificates.css.map */
