@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Monsieur+La+Doulaise&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Questrial&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Love+Light&family=Mea+Culpa&family=Passions+Conflict&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: linear-gradient(to right top, rgba(186, 209, 241, 0.8), rgba(187, 205, 238, 0.8), rgba(189, 201, 235, 0.8), rgba(190, 196, 231, 0.8), rgba(192, 192, 227, 0.8));
}

.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 900;
}

.navigation {
  background-color: #435684;
  padding: 5px 0;
}

.navbar .navbar-brand {
  font-size: 30px;
  color: #ffffff;
  cursor: default;
  opacity: 0;
  letter-spacing: 1px;
  animation: slideRight 1s ease forwards;
}

.navbar .nav-link {
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 22px;
  transition: 0.3s;
  background-image: linear-gradient(to right, #8dd1ff, #def2ff 52%, rgba(255, 255, 255, 0.9) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:before {
  content: "";
  background: #bdc6de;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover::before {
  width: 100%;
}

#brandName {
  cursor: pointer;
}

.navbar a:hover,
.navbar a.active {
  color: #183795;
  background-position: 0;
}

.navbar-toggler {
  background-color: #d2d8f2;
  outline: none !important;
}

.navbar-toggler-icon {
  background-image: none !important;
  background-color: var(--bs-gray-800);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #435684;
  padding: 10px 0;
  text-align: start;
}

.footer__name {
  display: flex;
  justify-content: start;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 1px;
}

.footer__social {
  display: flex;
  justify-content: end;
}

.footer__social-link {
  margin: 0 10px;
  color: #ced4e4;
  font-size: 20px;
  text-decoration: none;
}

.social-name {
  font-size: 17px;
  color: #ffffff;
}

.footer__social-link:hover .icon,
.footer__social-link:hover .social-name {
  color: #c1d1ff;
  transition: background-size 0.8s ease-in-out;
}

@media screen and (max-width: 768px) {
  .footer__social {
    margin-top: -12%;
  }
  .footer__social-link {
    margin: 3%;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=navigation.css.map */
