.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1180px;
  margin: 0 auto;
  .item-1,
  .item-2,
  .item-3 {
    padding: 50px 40px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    text-align: center;
    i {
      font-size: 50px;
    }
    i,
    p.subtitle-flex {
      color: #605f5f;
    }
    .middle-text {
      font-size: 24px;
      font-weight: 700;
      margin: 20px auto;
    }
    .footer-text {
      color: #828282;
    }
  }
  .item-1,
  .item-2 {
    position: relative;
  }
}
.base-wrap {
  position: absolute;
  right: 0;
  margin-right: -10.5%;
  top: 47%;
}
.base {
  background: white;
  display: inline-block;
  height: 20px;
  margin-left: 20px;
  margin-top: 5px;
  position: relative;
  width: 60px;
  transform: rotate(90deg);
  border: 1px solid #444;
  border-bottom: 1px solid transparent;
  z-index: 1;
  &:before {
    border-bottom: 35px solid gray;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: "";
    height: 0;
    left: -1px;
    position: absolute;
    top: -35px;
    width: 0;
  }
  &:after {
    border-bottom: 34px solid #fff;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    content: "";
    height: 0.5px;
    left: 0px;
    position: absolute;
    top: -34px;
    width: 0;
  }
}

@media (max-width: 768px) {
  .flex-container {
    display: block;
    width: 500px;
    .base-wrap {
      top: auto;
      bottom: -24px;
      left: -18%;
      .base {
        transform: rotate(180deg);
      }
    }
  }
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.sub-title {
  text-shadow: 4px 2px 3px rgba(255, 255, 255, 0.2);
}

/* Utilities */
.card::after {
  border-radius: 50%;
}

.card {
  display: flex;
}

.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 800px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  margin: 1rem 0px 2rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.card::before {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  top: -0.7rem;
  left: -0.7rem;
}
.card::after {
  height: 15rem;
  width: 15rem;
  background-color: #4172f5aa;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #fff;
}

.infos {
  margin-left: 1.5rem;
}

.name {
  margin-bottom: 2rem;
}

.name h2 {
  font-size: 1.8rem;
}

.name h4 {
  font-size: 1rem;
  color: #333;
}

.text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
  .card {
    display: block;
  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

.icon {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.12), 0 -2px 2px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent; /* Remove default background color */
}

.carousel-control-prev {
  left: -50px; /* Adjust distance from left edge */
}

.carousel-control-next {
  right: -50px; /* Adjust distance from right edge */
}

.sketch:hover {
  animation: bloom ease-in-out 0.75s forwards;
}
.sketch:hover::before {
  animation: circle 0.75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }
  40% {
    filter: grayscale(0.5);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgb(167, 201, 255, 0.2);
  }
  40% {
    opacity: 1;
    background: rgb(229, 238, 248, 0.2);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.card-list:has(li:hover) li:not(:hover) {
  filter: blur(4px);
}
li {
  margin: 0;
  transition: all 150ms ease-in-out;
}

li::before {
  content: "";
}

img {
  display: block;
  min-width: 0;
  width: 100%;
  margin-bottom: 0.6rem;
}

a {
  background: none;
}

.paper {
  padding: 1.5rem;
}

li a {
  padding-inline-start: 1rem;
}

.design-paragraph {
  font-size: 17px;
  line-height: 35px;
  color: #434343;
}

.design-para-style {
  line-height: 35px;
  font-size: 18px;
}
